<!--error message-->
<% errors.forEach((error)=>{ %>
<div class="alert alert-danger text-center">
  <%= error %>
</div>
<% }) %>
<!--succes message-->
<% success.forEach((success)=>{ %>
<div class="alert alert-success text-center">
  <%= success %>
</div>
<% }) %>
